body {
    margin: 0px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 10vw;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;

}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header li {
    padding-left: 20px;
    font-size: 18px;
}

.header h {
    margin: auto 0px;
}

.header a {
    color: white;
    text-decoration: none;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    padding: 3vh 10vw 10vh;
}

.hero-main h2 {
    font-size: 48px;
    
    font-weight: extra-bold;
}

.hero-text {
    width: 500px;
}

.hero-main p {
    font-size: 18px;
}

.hero-text a {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0.4em 1.2em;
    border-radius: 5px;
}

.hero-text a:hover {
    background-color: #2864c4;
}

.features h2 {
    text-align: center;
}

.features ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 5vh 10vw;

}

.features li {
    width: 200px;
    text-align: center;
}

.features img {
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 4vh;
}

.quote div {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.quote h {
    text-align: end;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta-section {
    display: flex;
    align-items: center;
    margin: 10vh 0;
    padding: 5vh 7vw;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
}

.cta-section h {
    font-weight: bold;
    
}

.cta-section p {
    margin: 3px 0;
}

.cta-section a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 0.4em 1.2em;
    margin-left: 6vw;
    border-radius: 5px;

    border-style: solid;
    border-color: white;
    border-width: 1px;

}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 0.8em 0;
}